<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form name="form1" method="post" action="insert.do">
<table border="1" width="800px">
	<tr>
		<td>이름</td>
		<td><input name="name" size="20"></td>
	</tr>
	<tr>
		<td>이메일</td>
		<td><input name="email" size="40"></td>
	</tr>
	<tr>
		<td colspan="2">
			<textarea name="content" rows="10" cols="80"></textarea>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<input type="submit" value="확인">
		</td>
	</tr>
</table>
</form>
</body>
</html>